.twixera-switch {
    position: relative;
    display: inline-block;
    margin: 0px 8px;
    padding: 6px;
    width: 50px;
    height: 25px;

    &:hover {
        cursor: pointer;
    }
    
    /* Hide default HTML checkbox */
    & input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary-purple;
        -webkit-transition: .4s;
        transition: .4s;

        &:focus, &:active {
            outline: 0;
        }
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        background-color: rgba($white, .5);
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: $primary;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px $primary;
    }
    
    input:checked + .slider:before {
        background-color: rgba($white, 1);
        transform: translateX(100%);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 75px;
    }
    
    .slider.round:before {
        border-radius: 75px;
    }
}
